extends ../layouts/application.pug

block content
    .container.col-4.justify-content-center
        .d-flex.flex-column
            h3.mb-3.font-weight-normal.text-center
            +formFor()(action=route(`users#update`, { id: user.id }) method='post').mb-3
                +input(user, 'firstName', t('views.placeholders.firstName'), errors)(type='text')