extends ../layouts/application.pug

block content
	.row.justify-content-start
		.form-control.shadow-sm.bg-light.bg-gradient.rounded-3.w-50
			h1.h3.my-3.fw-bold= t('views.statuses.update.title')
			+formFor()(action=route('statuses#update', { id: taskStatus.id }) method='post')
				+input(taskStatus, 'name', t('views.placeholders.name'),  errors)(type='text')
				input(name="_method" type="hidden" value='patch')
				+submitSm(taskStatus)(value=t('views.statuses.update.submit'))